name: Generate Leaflet Map

on:
  push:
    branches:
      - main  # Adjust to your branch if not `main`

jobs:
  generate-map:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Delete all .geojson files
      run: rm -f geojson-files/*.geojson   

    - name: Install dependencies
      run: |
        npm install fs
        npm install xmldom
        npm install @turf/turf
        npm install geojson-precision
        npm install fs

    -   name: Convert GPX to GeoJSON merged
        run: node gpx_to_geojson_merged.js

 #   - name: Convert GPX to GeoJSON
 #     run: node convert-gpx-to-geojson.js

 #   - name: Generate index.html
 #     run: |
 #       node generate-map.js
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        playwright install chromium

    - name: Run Relive scraper
      env:
        RELIVE_EMAIL: ${{ secrets.RELIVE_EMAIL }}
        RELIVE_PASSWORD: ${{ secrets.RELIVE_PASSWORD }}
      run: |
        python export_relive.py

 
    - name: Commit and push changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Auto-generate Leaflet map with tracks and relive missing file" || echo "No changes to commit"
        git push || echo "Nothing to push"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

